/*global stlyles and reset*/
body,html{
    height: 100%;
}
body{
    position: relative;
    align-items: center;
    background-color: #f4d0d0;
}
/* Header */
header {
    text-align: center;
}
.hero {
    /*background-image: url('/../header-bg.jpeg');  Replace with your hero image */
    background-color: var(--header-color);
    background-size: cover;
    background-position: center;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}
.hero-content {
    background-color: rgba(145, 140, 140, 0.3);
    border-radius: 10px;
    color: #f5f5dc;
    padding: 8px;
}
.hero-content div {
    padding-bottom: 10px;
    color: inherit;
}
.hero-content h1,  .hero-content h2{
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    padding: initial;
    margin: 0px;;
}

/*navbar*/
nav{
    background-color: rgb(114, 79, 129);
    height: 46.4px;
    position:sticky;
}
.nav-container{
    padding: 0;
    margin:0;
    text-align: left;
    overflow-x: auto;
    white-space:nowrap;
    height: 46.6;
    color: aliceblue;
}
.nav-button{
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.active{
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
}
/*main*/
header{
    word-wrap: break-word;
}
h2{
    font-size: medium;
}
p{
    width: 80%;
    margin: 3% auto;
    font-size: 16px;
    font-style: normal;
    color:rgb(13, 14, 14);
}
img {
    max-width: 100%;
    height: auto;
}

/* Gallery */
.scroll-container {
    background-color: #792974;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.gallery {
    display: inline-block;
    border: 1px solid hsl(298, 31%, 21%);
    margin: 5px;
    background-color: #6a3862;
}

.gallery .description {
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

.gallery:hover {
    border: 1px solid hsl(291, 70%, 53%);
}

.gallery img {
    max-height: 200px;
    width: auto;
}

.gallery a {
    justify-content: center;
    display: flex;
}
/*calender*/

/* Footer 
footer {
    padding: 8px;
    margin: 0px;
    background-color: ;
    color: ;
}
footer p {
    text-align: center;
    color: inherit;
}
*/